# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application
defaults:
  run:
    shell: bash
    working-directory: ./delivery

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
       make install

    - name: Set a dummy secret key
      run: echo "::set-env name=FLASK_SECRET_KEY::avocodes01"

    - name: Database Migrations
      run: |
       make init_db
       
    - name: Run tests
      run: |
       make test
